.footer{
    background:#EBEBEB;
    
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: #A8A8A8;
}
.footer a:hover{
    color: #2D2D2D;
}
.footer-logo{
    display: flex;
} 
.footer h4{
    font-weight: 700;
    font-size: 28px;
}
.footer-logo img{
    max-width: 40px;
    margin-left: 20px;
}
.list4 .fame{
    margin-left: 100px;
}